<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

<form name="periodForm" class="form-inline">
  <label>Новости за: </label>
  <%= select_tag(:period, options_for_select([['1 день', 1], ['3 дня', 2], ['неделю', 3], ['месяц', 4]], params[:period].to_i),
                 :onchange => 'updatePeriod()') %>

  <label>Категория: </label>
  <%= select_tag(:category, options_for_select([
                                              ['Все', 0],
                                              ['Общие', 1],
                                              ['Политика', 2],
                                              ['В мире', 3],
                                              ['Общество', 4],
                                              ['Экономика', 5],
                                              ['Спорт', 6],
                                              ['Происшествия', 7],
                                              ['Культура', 8],
                                              ['Наука', 9],
                                              ['Здоровье', 10],
                                              ['Hi-Tech', 11],
                                              ['Интернет', 12],
                                              ['Авто', 13],
                                              ['Туризм', 14],
                                              ['Образование', 15],
                                              ['Безопасность', 16]
                                             ], params[:category].to_i),
                 :onchange => 'updateCategory()') %>
</form>

<div id="map" style="width: auto; height: 100%; border: 1px dashed"></div>

<script type="text/javascript">
  function updatePeriod() {
      document.forms["periodForm"].submit();
  }

  function updateCategory() {
      document.forms["periodForm"].submit();
  }
</script>

<script async type="text/javascript">
    ymaps.ready(init);

    $(document).ready(function(){
        $('#map').height($(window).height() - 190);
    });

    var i = 0;

    function init () {
        var myMap = new ymaps.Map("map", {
            center: [56.45, 37.64],
            zoom: 5
        });

        var myGeoObjects = [];

        <% if @news.any? %>
        var news_json = "";
        news_json = <%= raw @news.to_json %>;
        var parsed_json = eval(news_json);

        var myClusterLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="padding: 12px 20px 12px 12px">' +
                '<p style="font-size: 100%;">$[properties.summary]</p>' +
                '<small class="pull-right" style="font-size: 90%; padding-right: 16px; color: lightcoral;">$[properties.location]</small>' +
                '</div>'
        );

        var myBallonLayout = ymaps.templateLayoutFactory.createClass(
                '<h4>$[properties.title]</h4>' +
                '<p style="font-size: 100%;">$[properties.summary]</p>' +
                '<small class="pull-right" style="font-size: 90%;">$[properties.location]</small>'
        );

        ymaps.layout.storage.add('my#clusterLayout', myClusterLayout);
        ymaps.layout.storage.add('my#ballonLayout', myBallonLayout);

        for (var i = 0; i < parsed_json.length; i++) {
            var obj = parsed_json[i];
            var locations = obj.location.split(';');
            var tags = obj.tags;

            for (var j = 0; j < locations.length; j++) {
                var coords = locations[j].split(',');

                var presetIcon = '';
                if (obj.category == 'country' || obj.category == 'world_population') {
                    presetIcon = 'twirl#redIcon';
                } else if (obj.category == 'region') {
                    presetIcon = 'twirl#darkgreenIcon';
                } else if (obj.category == 'population') {
                    presetIcon = 'twirl#blackIcon';
                } else {
                    presetIcon = 'twirl#blueIcon';
                }

                placemark = new ymaps.Placemark([coords[0], coords[1]], {
                    clusterCaption: obj.name,
                    title: obj.name,
                    summary: obj.summary,
                    location: tags
                }, {
                    preset: presetIcon,
                    balloonContentBodyLayout: 'my#ballonLayout',
                    balloonMaxWidth: 400
                });

                myGeoObjects.push(placemark);
            }
        }
        <% end %>

        clusterer = new ymaps.Clusterer({
            clusterDisableClickZoom: true,
            clusterBalloonContentBodyLayout: 'cluster#balloonAccordionContent',
            clusterBalloonAccordionItemContentLayout: 'my#clusterLayout',
            clusterBalloonWidth: 400,
            clusterNumbers: [10]
        });
        clusterer.add(myGeoObjects);

        myMap.geoObjects.add(clusterer);
        myMap.controls.add('zoomControl').add('smallZoomControl', {right: 5, top: 75})
    }
</script>