<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

<div id="map" style="width: 100%; height: 560px; border: 1px dashed">
	
</div>
<script async type="text/javascript">
    ymaps.ready(init);

    var i = 0;

    function init () {
        var myMap = new ymaps.Map("map", {
            center: [56.45, 37.64],
            zoom: 5
        });

        var myGeoObjects = [];

        // TODO: add clusters for placemarks
        <% if @news.any? %>
        var news_json = "";
        news_json = <%= raw @news.to_json %>;
        var parsed_json = eval(news_json);

        var myClusterLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="padding: 12px 20px 12px 12px">' +
                '<p style="font-size: 100%;">$[properties.summary]</p>' +
                '<small class="pull-right" style="font-size: 90%; padding-right: 16px; color: lightcoral;">$[properties.location]</small>' +
                '</div>'
        );

        var myBallonLayout = ymaps.templateLayoutFactory.createClass(
                '<h4>$[properties.title]</h4>' +
                '<p style="font-size: 100%;">$[properties.summary]</p>' +
                '<small class="pull-right" style="font-size: 90%;">$[properties.location]</small>'
        );

        ymaps.layout.storage.add('my#clusterLayout', myClusterLayout);
        ymaps.layout.storage.add('my#ballonLayout', myBallonLayout);

        for (var i = 0; i < parsed_json.length; i++) {
            var obj = parsed_json[i];
            var locations = obj.location.split(';');
            var tags = obj.tags;

            for (var j = 0; j < locations.length; j++) {
                var coords = locations[j].split(',');

                var presetIcon = '';
                if (obj.category == 'country' || obj.category == 'world_population') {
                    presetIcon = 'twirl#redIcon';
                } else if (obj.category == 'region') {
                    presetIcon = 'twirl#darkgreenIcon';
                } else if (obj.category == 'population') {
                    presetIcon = 'twirl#blackIcon';
                } else {
                    presetIcon = 'twirl#blueIcon';
                }

                placemark = new ymaps.Placemark([coords[0], coords[1]], {
                    clusterCaption: obj.name,
                    summary: obj.summary,
                    location: tags
                }, {
                    preset: presetIcon,
                    balloonContentBodyLayout: 'my#ballonLayout',
                    balloonMaxWidth: 400
                });

                myGeoObjects.push(placemark);
            }
        }
        <% end %>

        clusterer = new ymaps.Clusterer({
            clusterDisableClickZoom: true,
            clusterBalloonContentBodyLayout: 'cluster#balloonAccordionContent',
            clusterBalloonAccordionItemContentLayout: 'my#clusterLayout',
            clusterBalloonWidth: 400
        });
        clusterer.add(myGeoObjects);

        myMap.geoObjects.add(clusterer);
        myMap.controls.add('zoomControl').add('smallZoomControl', {right: 5, top: 75})
    }
</script>