<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Geo News</a>
    by nimnes
  </small>
  <nav>
    <ul>
      <li><%= link_to "О проекте",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
</footer>