<% for entry in @news.all(:order => "published_at desc") %>
<li>
	<h4><%= entry.name %></h4>
	<span class="content"><%= entry.summary.html_safe %></span>
	<span class="timestamp"><%= time_ago_in_words(entry.published_at) %></span>
	<span class="pull-right">
	<a href="#">
		<i class="icon-map-marker"></i>
		Locate
	</a>
	</span>
</li>
<% end %>